<div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-lg-flex justify-content-lg-center py-2">
        <a class="btn btn-secondary btn-md btn-block" href="{{ url_for('github_redirect')}}" role="button"><svg class="bi" width="24" height="24"><use xlink:href="#git-hub"/> </svg> Website Integration Source</a>
    </div>
    <div class="d-grid gap-2 d-lg-flex justify-content-lg-center py-1">
        <a class="btn btn-secondary btn-md btn-block" href="{{ url_for('gh_rep_redirect', github=github_link)}}" role="button"><svg class="bi" width="24" height="24"><use xlink:href="#git-hub"/> </svg> Original Project Source</a>
    </div>
</div>