{% extends "project_base.html" %}
{% block title %}
Watermark images
{% endblock %}
{% block subtitle %}
Watermark images from entered text
{% endblock %}
{% block content %}
{{render_form(form, render_kw={"onsubmit":"return false;"})}}
</div>
<div class="d-grid gap-2 py-2 d-md-flex justify-content-md-center">
  <img id='watermark-img' src=''>

{% block script %}
<script>document.getElementById("submit").addEventListener("click", async function () {
  var file = document.getElementById("img_to_mark").files[0];
  const read = (blob) => new Promise((resolve, 
  reject) =>{
    const reader = new FileReader();
    reader.onload = (event) =>
  resolve(event.target.result);
    reader.onerror = reject;
    reader.readAsDataURL(blob);
  });
  read(file).then((result) => {
  let formData = {"csrf" : document.getElementById("csrf_token").value,
                  "watermark_text" : document.getElementById("watermark_text").value,
                  "img_to_mark" : result,
                  "font_size" : document.getElementById("font_size").value,
                  "font_name" : document.getElementById("font_name").value,
                  "add_space" : document.getElementById("add_space").value,
                }
  
  fetch("{{ url_for('image_watermarker') }}", {
          "method": "POST",
          "body": JSON.stringify(formData),
          "headers" : {"Content-Type": "application/json"},

      })
      .then(response => response.json())
          .then(response => {
                                document.getElementById("watermark-img").src = response["watermark_img"];
          });
        });});</script>
{% endblock %}
{% endblock %}