{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="px-4 text-center">
  <img class="d-block mx-auto mb-4" src={{url_for('static', filename='/assets/img/projects_page.png')}} alt="" width="1024" height="256">
    <h1 class="display-5 fw-bold text-body-emphasis">Watermark images</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Watermark images from entered text</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        {{render_form(form)}}
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      {% if new_img != [0, 0] %} 
        <img src={{new_img}}>
      {% endif %}
      </div
    </div>
    {% include "github-proj-link.html" %}
  </div>
</div>

{% include "footer.html" %}