{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="px-4 text-center">
  <img class="d-block mx-auto mb-4" src={{url_for('static', filename='/assets/img/projects_page.png')}} alt="" width="1024" height="256">    <h1 class="display-5 fw-bold text-body-emphasis">Morse translator</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Convert from morse to English or English to morse!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        {{render_form(form, render_kw={"onsubmit":"return false;"})}}
        <script>
          document.getElementById("convert_morse").addEventListener("click", function () {
              let english = document.getElementById("english").value
              let formData = {"csrf" : document.getElementById("csrf_token").value,
                              "morse" : null,
                              "english" : english}
              fetch("{{ url_for('morse_converter') }}", {
                  "method": "POST",
                  "body": JSON.stringify(formData),
                  "headers" : {"Content-Type": "application/json"},

              })
                  .then(response => response.json())
                  .then(response => {
                    document.getElementById("morse").value = (response["translation"]);
                  });
          });
          document.getElementById("convert_english").addEventListener("click", function () {
              let morse = document.getElementById("morse").value
              let formData = {"csrf" : document.getElementById("csrf_token").value,
                              "morse" : morse,
                              "english" : null}
              fetch("{{ url_for('morse_converter') }}", {
                  "method": "POST",
                  "body": JSON.stringify(formData),
                  "headers" : {"Content-Type": "application/json"},

              })
                  .then(response => response.json())
                  .then(response => {
                    document.getElementById("english").value = (response["translation"]);
                  });
          });
       </script>
 
      </div>
    </div>
    {% include "github-proj-link.html" %}
  </div>
</div>

{% include "footer.html" %}